
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.opcao {
  border:0px solid #ccc;
  padding:8px;
  margin:0 0 8px;
  display:block; 
 }
 
.opcao:hover {
  background:#b7b7b7;
  cursor:pointer;
 }

 .selecionado {
   background: #2f4873;
   color: white;
 }